body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}


h1 {
  text-align: center;
  color: #090a0a;
  margin-bottom: 20px;

}

.input-container {
  margin-bottom: 15px;
  height: 50px;
}

label {
  font-weight: bold ;
  display: block;
  margin-bottom: 5px;
  color: black;
  font-size: 20px;
}

select,
input[type="number"] {
  width: 100%;
  padding: 9px;
  border: 1px solid black;
  border-radius: 25px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0812a3;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s;
} 

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

#results {
  margin-top: 0px;
  padding: 15px;
  background-color: #9de7f3;
  border-radius: 5px;
  margin-left: 0px;
  font-size: 22px;
  box-shadow: 0 2px 5px rgba(187, 24, 24, 0.1);
  box-sizing: border-box;
  border-radius: 10px;
  background: linear-gradient(to bottom, #9de7f3, #f0f0f0);
  border: 2px solid hsla(180, 29%, 97%, 0.932);
  padding: 20px;
  margin-top: 20px;
}
  
#results dl {
  display:inline-table;
  margin: 0;
  padding: 0;
}

#results dt {
  display: inline-table;
  font-weight: bold;
  color: #333;
  font-size: 18px;
  margin-top: 10px;
}

#results dd {
  display:inline-table;
  margin-left:  0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight:bold;
  color: #555;

}

.input-container {
  margin-bottom: 15px;
}

.input-container input[type="number"] {
  width: 478px; /* Adjust the width as per your preference */
}

/* Optionally, you can adjust the width of the button */
.calculator button {
  width: 500px; /* Adjust the width as per your preference */
  font-size: 25px;
}

.calculator {
  width: 80%;
  max-width: 500px;
  margin: 50px auto;
  background-color: #9cdae4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(197, 83, 83, 0.1);
  animation: fadeIn 1s ease;
}

dl {
  display: flex;
  flex-wrap: wrap;
}

dt {
  width: 220px; /* Adjust the width as needed */
}




@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  
  to {
    opacity: 2;
    transform: translateY(0);
  }
}
